<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Centering Div with Thymeleaf</title>
    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px; /* Adjust width as needed */
            height: 200px; /* Adjust height as needed */
            background-color: lightgray;
            text-align: center;
        }
            line-height: 200px;
    </style>
</head>
<body>
<div class="centered">
    <h2>Hello, Centered Div!</h2>
</div>
</body>
</html>
